@import './variables';
@import './mixins';


// image page principale

%images{
    figure{
        width: 100%;
        margin: $marginall;
        border-radius: 15px ;
        img{
            border-radius: 15px 15px 0px 0px;
        }
    }
    
}

// titre page d'accueil

%h3{
    margin-top: 4%;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.15rem;
}
%h4{
    margin-top: 2%;
    margin-bottom: 14%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.10rem;
    text-transform: capitalize;    
}

//body

%bodyaccueil{
    margin: $marginall;
    padding: $paddingall;
     background: $bg-colorbody; 
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;;
     width: 100vw;
     height: 100vh;
     position: relative;
}

//button j'aime

%fa-heart{
    position: relative;
    top: 20%;
    left: 62%;   
}

// section 1 accueil

%section1{
    text-align: center;
    transform: translateY(-30px);
    opacity: 0;
    animation-name: body;
    animation-delay: 150ms;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    .localisation{
        background: $bg-localisation;
        display: flex;
        align-items: center;
        margin-bottom: 0%;
        padding-left: 25%;
        height: 9vh;
        font-family: 'Roboto', sans-serif;
        font-size: 1.15rem;
        font-weight: bold;
        @include breakpoint(992px){
            margin-top: -175px;
            margin-left: 15px;
            margin-right: 10px;
            border-radius: 50px;
        }
        
        i{
            margin-right: 6%;
        }
     }
     .book{
         background: $bg-colormain;
         h2{
             margin-top: 0%;
             padding-top: 10%;
             padding-bottom: 10%;
             font-family: 'Roboto', sans-serif;
             font-weight: bold;

  }
          p{
            font-family: 'Roboto', sans-serif;
            font-size: 1.15rem;
            font-weight: 300;
            width: 90%;
            padding-bottom: 5%;
            padding-left: 5%;
            padding-right: 5%;
           
          }
    
         button{
            background: $bg-colorbutton;
            margin-top: 5%;
            margin-bottom: 17%;
            width: 70%;
            height: 8vh;
            border-radius: 40px;
            border: none;
            color: $bg-colorwhite;
            font-size: 1.15rem;
            box-shadow: 0 0 5px $bg-colorbutton;
            transition: 300ms;
            transition-property: box-shadow;
            @include breakpoint(280px){
                width: 80%;
            }
                   
         } 

          button:hover{ 
            box-shadow: 0 0 5px $bg-colorbutton,
                        0 0 15px $bg-colorbutton,
                        0 0 45px $bg-colorbutton,
                        0 0 65px $bg-colorbutton,
                        

              
        }
           
            
             
             
            
             
             
          
     }
}

//section 2 accueil

%section2{
    background-color: $bg-colorwhite;
    transform: translateY(-30px);
    opacity: 0;
    animation-name: body;
    animation-delay: 250ms;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    @include breakpoint(992px){
        margin-left: 30px;
        padding-left: 25px;
        width: 95%;
    }
       
        h2{
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            margin-top: 0%;
            padding-top: 11%;
            padding-left: 10%;
            padding-bottom: 9.5%;
        }
        .work {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            background-color: $bg-colorwhite;
            margin-left: 5%;
            @include breakpoint(992px){
                margin-left: 0px;
                border-radius: 55px;
            }
            .un{
                background: $bg-colormain;
                height: 76px;
                border-radius: 20px;
                width: 90%;
                display: flex;
                align-items: center;
                flex-direction: row;
                margin-bottom: 5%;
              
                  .fa-mobile-alt{
                      padding-left: 10%;
                      padding-right: 5%;
                  }
                  .chiffre{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: mediumorchid;
                    border-radius: 50%;
                    width: 7.5%;
                    height: 35%;
                    position: relative;
                    right: 4%;
                    color: $bg-colorwhite;
                    font-weight: 400;
                    font-size: 13px
                  }
                
            }
            .deux{
                @extend .un;
                 .fa-list-ul{
                    padding-left: 10%;
                    padding-right: 5%;
                 }
                 .chiffre{
                   @extend .chiffre;
                }

                
            }
            .trois{
                @extend .un;
                margin-bottom: 20%;
                .fa-store{
                    padding-left: 10%;
                    padding-right: 5%;
                    
                }
                .chiffre{
                    @extend .chiffre;
                }
                
                
            }
        }
       
          
          
}

// les pages de menus
%main{
    background: $bg-colormain;
    @include breakpoint(992px){
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 40% 40% 20%;
        grid-auto-flow: column;

    }

    
   
    h2{
        display: flex;
        justify-content: flex-start;
        margin-left: 0%;
        padding-top: 8.5%;
        padding-bottom: 7.8%;
        padding-right: 0%;
        padding-left: 6%;
        font-family: 'Shrikhand', cursive;
        font-size: 1.7em;
        font-weight: normal;
        font-style: oblique;
        border-radius: 45px 45px 0px 0px;
        background-color: $bg-colormain;
        position: relative;
        bottom: 30px;
        width: 100%;
        @include breakpoint(992px){
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 0%;
            margin-top: 30px;
            padding-top: 8.5%;
            padding-right: 0%;
            padding-left: 6%;
            font-family: 'Shrikhand', cursive;
            font-size: 1.7em;
            font-weight: normal;
            font-style: oblique;
            border-radius: 45px 45px 0px 0px;
            background-color: #f6f6f6;
            position: relative;
            width: 30%;
            grid-column: 1;
            grid-row: 1;
           
        }

        i{
            padding-left: 200px;
            @include breakpoint(280px){
                padding-left: 80px;
               
            }
            @include breakpoint(375px){
                padding-left: 160px;
               
            }
            @include breakpoint(411px){
                padding-left: 200px;
               
            }
            @include breakpoint(425px){
                padding-left: 206px;
               
            }
            @include breakpoint(599px){
                padding-left: 340px;
               
            }
            @include breakpoint(667px){
                padding-left: 405px;
               
            }
            @include breakpoint(768px){
                padding-left: 480px;
               
            }
            @include breakpoint(992px){
                padding-left: 686px;
               padding-top: 391px;
            }
               
            
        }

    }
}

%image{
    
    img{
        width: 100%;
    }

}




%entrée{
    background: rgb(238,238,238);
    padding-bottom: 10%;
    @include breakpoint(992px){
       margin-top: 50px;
    }
    
    h3{
        margin-left: 5%;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        
        
    }
    hr{
        width: 15%;
        margin-left: 5%;
        border: 1px solid  #15DEA5;
    }
    #carpaccio{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        border-radius: 15px;
        width: 90%;
        margin: 5%;
        background:  rgba(255,255,255 ,1);
        h4{ 
            margin-top: 4%;
            margin-bottom: 3%;
            padding-left: 3%;
        }
        .prix{
            display: flex;
            flex-direction: row;
            padding-left: 3%;
            h5{
                margin-right: 50%;
                margin-bottom: 3.5%;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                color: rgb(158,158,158);
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-weight: 400; 
            }
        }
    }
}

%entrée2{
    @extend #carpaccio;
   .prix{
    h5{
        margin-right: 23%;
    }
}
    
    
}
%entrée3{
    @extend #carpaccio;
    .prix{
        h5{
            margin-right: 71%;
        }
    }

}

%prix{
    border: 5px solid transparent;
    background: #AED6D1;
    color: #55706D;
    border-radius: 40px;
    padding: 15px 30px;
    overflow: hidden;
    width: 200px;
    transition: 
      all        1.2s,
      border     0.5s 1.2s,
      box-shadow 0.3s 1.5s;
    white-space: nowrap;
    text-indent: 23px;
    font-weight: bold;
}


/////////@mixin 
