%header{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
    
        h1 {
            width: 70vw;
            font-family: 'Shrikhand', cursive;
            text-align: center;
            margin:0%;
        }
        .fa-arrow-left{
            align-self: center;
        }


}