@import './variables';

@mixin titre {
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: capitalize;

}
@mixin trait  {
    width: 12%;
    margin-left: 5%;
    border: 1px solid $color-tertiary;
    @include breakpoint(667px){
        width: 7%;
        margin-left: 5%;
        border: 1px solid $color-tertiary;
    }
    @include breakpoint(768px){
        width: 6%;
        margin-left: 5%;
        border: 1px solid $color-tertiary;
    }
}
@mixin carpaccio{
    
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        border-radius: 15px;
        width: 90%;
        margin: 5% 5%;
        background:  rgba(255,255,255 ,1);
        transition-delay: 200ms;
        &:hover .checkbox{
            animation-name: check ;
            animation-duration: 1s;
            animation-delay: 50ms;
            animation-timing-function:  cubic-bezier(.34,.16,.64,.9);
            animation-fill-mode: both;
            animation-direction: alternate;
        
        i{
            animation-name: lol ;
            animation-duration: 0.5s;
            animation-delay: 0.5s;
            animation-timing-function:  cubic-bezier(.34,.16,.64,.9);
            animation-fill-mode: forwards;
        }  
    }
    &:hover > .prix {
        @include hoverp;
        }

        
        
        
       
       
     }  
     
     // checkbox mixins
 

    /// titre plat entrée dessert
    
    @mixin titreplat($hauteur: 75px) {
        position: relative;
        overflow: hidden;
        height: $hauteur;
        margin-top: 5%;
        margin-bottom: 0%;
        @include breakpoint(320px){
            position: relative;
           overflow: hidden;
           height: 85px;
           margin-top: 5%;
           margin-bottom: 0%;

        }
        @include breakpoint(375px){
            position: relative;
           overflow: hidden;
           height: 91px;
           margin-top: 5%;
           margin-bottom: 0%;

        }
        @include breakpoint(425px){
            position: relative;
           overflow: hidden;
           height: 98px;
           margin-top: 5%;
           margin-bottom: 0%;

        }
        @include breakpoint(599px){
            position: relative;
           overflow: hidden;
           height: 123px;
           margin-top: 5%;
           margin-bottom: 0%;

        }
        @include breakpoint(667px){
            position: relative;
           overflow: hidden;
           height: 132px;
           margin-top: 5%;
           margin-bottom: 0%;

        }
        @include breakpoint(768px){
            position: relative;
           overflow: hidden;
           height: 147px;
           margin-top: 5%;
           margin-bottom: 0%;

        }    
        
    }

@mixin titre4{
    margin-top: 4%;
    margin-bottom: 3%;
    padding-left: 3%;
}
@mixin prix{
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
    transition-property: all;
    transition-delay: 450ms;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    @include breakpoint(280px){
        width: 95%;
        overflow: hidden;
        text-overflow: ellipsis;
        
     }
   
    
   
}
    @mixin hoverp {
      
       
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    cursor: pointer;
    transition-property: all;
    transition-delay: 400ms;
    transition-duration: 0.8s;
    transition-timing-function: ease-in;
    @include breakpoint(280px){
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 60%;
        cursor: pointer;
        transition-property: all;
        transition-delay: 390ms;
        transition-duration: 0.7s;
        transition-timing-function: ease-in; 
    
   
    }
    @include breakpoint(320px){
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 70%;
        cursor: pointer;
        transition-property: all;
        transition-delay: 370ms;
        transition-duration: 0.6s;
        transition-timing-function: ease-in;
    }
    @include breakpoint(375px){
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 75%;
        cursor: pointer;
        transition-property: all;
        transition-delay: 355ms;
        transition-duration: 0.6s;
        transition-timing-function: ease-in;
    }
    @include breakpoint(411px){
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 75%;
        cursor: pointer;
        transition-property: all;
        transition-delay: 500ms;
        transition-duration: 0.6s;
        transition-timing-function: ease-in;
    }
    @include breakpoint(425px){
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 75%;
        cursor: pointer;
        transition-property: all;
        transition-delay: 550ms;
        transition-duration: 0.6s;
        transition-timing-function: ease-in;
    }
    @include breakpoint(599px){
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;
        cursor: pointer;
        transition-property: all;
        transition-delay: 400ms;
        transition-duration: 0.6s;
        transition-timing-function: ease-in;
    }
    @include breakpoint(992px){
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 70%;
        cursor: pointer;
        transition-property: all;
        transition-delay: 400ms;
        transition-duration: 0.6s;
        transition-timing-function: ease-in;
    }


   
    
   
       
        

    }

  
    @mixin param {
        margin-bottom: 3.5%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: rgb(158,158,158);
        width: 85%;
        @include breakpoint(280px){
            width: 85%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        @include breakpoint(320px){
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }


@mixin span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-right: 0px;
    padding-left: 10px; 
    
        
}
@mixin checkbox($heighter: 83%, $topop: 17%) {
    position: absolute;
    top: $topop;
    left: 81%;
    background: aqua;
    width: 15%;
    height: $heighter;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transform: translateX(100px);
    opacity: 0;
  
   @include breakpoint(320px){
       left: 81%;
       top: 17%;
       height: 82%;
       border-bottom-right-radius: 15px;
       border-top-right-radius: 15px;
        
     }
     @include breakpoint(375px){
        left: 81%;
        top: 19%;
        height: 83%;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        
        
     }
     @include breakpoint(411px){
        left: 81%;
        top: 21%;
        height: 80%;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
     }
     @include breakpoint(425px){
        left: 81%;
        top: 22%;
        height: 80%;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        
     }
     @include breakpoint(599px){
        left: 81%;
        top: 24%;
        height: 76%;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        
     }
     @include breakpoint(667px){
        left: 81%;
        top: 26%;
        height: 77%;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
     }
     @include breakpoint(768px){
        left: 81%;
        top: 26%;
        height: 74%;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        
     }
     @include breakpoint(992px){
        left: 81%;
        top: 11%;
        height: 45%;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;

     }
    
    
}

@mixin faicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(0deg);
    @include breakpoint(599px){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotate(0deg);
        transform: scale(1.5);
    }
    
    
}

//button
@mixin order{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 8vh;
    margin: 2% 25% 10% 25%;
    background-color: rgb(186,85,211);
    border-radius: 30px;
    box-shadow: 0 0 5px $bg-colorbutton;
    transition: 300ms;
    transition-property: box-shadow;
    @include breakpoint(992px){
        grid-row: 3;
        grid-column: 2;
        align-self: center;
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        height: 12vh;
     }
    &:hover{
        box-shadow: 0 0 5px $bg-colorbutton,
                    0 0 15px $bg-colorbutton,
                    0 0 50px $bg-colorbutton,
                    0 0 65px $bg-colorbutton;
        cursor: pointer;            
    }
    p{
        color: rgb(250,250,250);
    }
}
//header des menus

@mixin headermenu {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    background: $bg-colorwhite;
    
}

// menu accueil

@mixin headmenu {
    background-color: $bg-colorwhite;
    border-radius: 15px;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
      
}

@mixin headsection {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
}

@mixin headplat {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: $bg-colorwhite;
    border-bottom-left-radius: 15px;
    padding-left: 7%;
}
//le coeurs
@mixin icones{
    position: relative;
    top: 0px;
    cursor: pointer;
    .fas{
        display: none;
        color: $color-secondary ;
    }
    &:hover{
        .far{
            display: none;
        }
        .fas{
            display: block;
            opacity: 0.1;
        }  

    }

    
    
}    

@mixin buttonmenu($bottom: 242%, $width: 82px, $left:-15%, $height: 27px) {
    position: relative;
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height;
    background-color: $color-tertiary;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}

@mixin  buttonjaime{
    position: relative;
    top: 20%;
    left: 26px; 
    @include breakpoint(992px){
        margin: 12px;
    }

  
}
//medias query

@mixin breakpoint($medias) {
    @media screen and (min-width: $medias){
        @content;
    }
        
}
    
//keyframes

@keyframes coeur{
    0%{
        color: $color-secondary;
        opacity: 0;
        transform: scale(0.25);
    }
    15%{
        color: $color-secondary;
        opacity: 0.45;
        transform: scale(0.25);
    }
    50%{
        color: $color-secondary;
        opacity: 0.65;
        transform: scale(0.5);
    }
    75%{
        color: $color-secondary;
        opacity: 1;
        transform: scale(0.75);
    }

    100%{
        color: $color-secondary;
        opacity: 0.80;
        transform: scale(1.1);
    }

}
// button
@keyframes opabutton{
    0%{
        background: $bg-colorbutton;
        opacity: 1;

    }
    100%{
        background: $bg-colorbutton;
        opacity: 2;
        box-shadow: 0 0 5px $bg-colorgray;;
    }
}


@keyframes spinner{
    to{
        
        transform: rotate(360deg);
        opacity: 1;
   
        
    }
    25%{
        transform: rotate(360deg);
    }
    55%{
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(360deg);
    }
    100%{
        transform: translate(-1000%);
        opacity: 1;
    }
}

// load 

@keyframes load{
    0%{
         
        opacity: 0;
       
    }
    25%{
        opacity: 0.35;
      
    }
    25%{
        opacity: 0.35;
      
    }
    35%{
        opacity: 0.35;
    }
    50%{
        
        opacity: 0.35;

    }
    85%{
     
        opacity: 0.35;
    }
    95%{
        opacity: 0.50;
    }
    100%{
        
        opacity: 1;
    }
}

  //body

  @keyframes body{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;

    }
  }
  @keyframes bodymenu{
    0%{
      
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
       
        transform: translateY(0px);
        opacity: 1;

    }
  }
  @keyframes bodymenuX{
    0%{
      
        transform: translateX(1000%);
        opacity: 0;
    }
    90%{
        transform: translateX(5%);
        opacity: 1;
    }
    100%{
       
        transform: translateX(0px);
        opacity: 1;

    }
  }
  @keyframes bodymenuY{
    0%{
      
        transform: translateY(-1000%);
        opacity: 0;
    }
    90%{
        transform: translateY(5%);
        opacity: 1;
    }
    100%{
       
        transform: translateY(0px);
        opacity: 1;

    }
  }

// section

  @keyframes section{
    0%{
        transform: translateX(-30px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;

    }
  }
  @keyframes sectionmenu{
    0%{
        
        transform: translateY(-1000%);
        opacity: 0;
    }
    85%{
        
        transform: translateY(10%);
        opacity: 1;
    }
    
    100%{
        
        transform: translateY(0%);
        opacity: 1;
    }
  }


  // para

  @keyframes icones{
      0%{
          transform: scale(0);
      }
      100%{
        transform: scale(1);
      }
  }

  @keyframes check{
      0%{
       
            transform-origin: center center;
            opacity: 0;
        
         
          
      }
   
      
      100%{
    
            transform-origin: center center;
            transform: scale(1);
            opacity: 1;
        }
      
        
        
    
  }
  @keyframes lol{
   
    from{
        
        transform: rotate(0deg) scale(1);

        opacity: 1;
   
        
    }

    100%{
        transform:rotate(360deg) scale(1.5) ;
        opacity: 1;
    }
  }

  @keyframes prixel{
      from{
   
        padding-left: 3%;
        overflow: hidden;
        width: 100%;
        cursor: pointer;

      }
      to{
        
        padding-left: 3%;  
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;

      }
  }