@import './variables';

@mixin titre {
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: capitalize;

}
@mixin trait  {
    width: 12%;
    margin-left: 5%;
    border: 1px solid $color-tertiary;
}
@mixin carpaccio{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 15px;
    width: 90%;
    margin: 5%;
    background:  rgba(255,255,255 ,1);
}
@mixin titre4{
    margin-top: 4%;
    margin-bottom: 3%;
    padding-left: 3%;
}
@mixin prix{
    display: flex;
    flex-direction: row;
    padding-left: 3%;
}
@mixin titre5($margin-right: 50%) {
    margin-right: $margin-right;
    margin-bottom: 3.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(158,158,158);
    
}

@mixin para($paddingleft: 20px) {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    padding-left: $paddingleft;
    position: relative;
    cursor: pointer;
    background: violet;
    width: 130px;
    height: 80px;
    margin-top: -40px;
    border-radius: 0px 16px 16px 0px;
    z-index: 1;
    &::before{
        content: "hey";
        position: absolute;
        top: 50%; left: 50%; 
        background-color: $color-tertiary;
        border-radius: 0px 16px 16px 0px;
        transform: translate(-50%, -50%); 
        width: 0;
        height: 100%;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: -1;}
        &:hover::before{
                
           width: 100%;
           opacity: 1;
        }
    
  
        
}

//button
@mixin order{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 8vh;
    margin: 2% 25% 10% 25%;
    background-color: rgb(186,85,211);
    border-radius: 30px;
    box-shadow: 0 0 5px $bg-colorbutton;
    transition: 300ms;
    transition-property: box-shadow;
    &:hover{
        box-shadow: 0 0 5px $bg-colorbutton,
                    0 0 15px $bg-colorbutton;
        cursor: pointer;            
    }
    p{
        color: rgb(250,250,250);
    }
}
//header des menus

@mixin headermenu {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    background: $bg-colorwhite;
    
}

// menu accueil

@mixin headmenu {
    background-color: $bg-colorwhite;
    border-radius: 15px;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
      
}

@mixin headsection {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
}

@mixin headplat {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: $bg-colorwhite;
    border-bottom-left-radius: 15px;
    padding-left: 7%;
}
//le coeurs
@mixin icones{
    position: relative;
    top: -13px;
    color: transparent;
    cursor: pointer;  
    
}    

@mixin buttonmenu($bottom: 242%, $width: 82px, $left:-15%, $height: 27px) {
    position: relative;
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height;
    background-color: $color-tertiary;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}

@mixin  buttonjaime{
    position: relative;
    top: 20%;
    left: 26px;  
  
}
//medias query

@mixin breakpoint($medias) {
    @media screen and (min-width: $medias){
        @content;
    }
        
}
    
//keyframes

@keyframes coeur{
    0%{
        color: $color-secondary;
        opacity: 0;
        transform: scale(0);
    }
    15%{
        color: $color-secondary;
        opacity: 0.45;
        transform: scale(0.25);
    }
    50%{
        color: $color-secondary;
        opacity: 0.65;
        transform: scale(0.5);
    }
    75%{
        color: $color-secondary;
        opacity: 1;
        transform: scale(0.75);
    }

    100%{
        color: $color-secondary;
        opacity: 0.80;
        transform: scale(1.1);
    }

}
// button
@keyframes opabutton{
    0%{
        background: $bg-colorbutton;
        opacity: 1;

    }
    100%{
        background: $bg-colorbutton;
        opacity: 2;
        box-shadow: 0 0 5px $bg-colorgray;;
    }
}


@keyframes spinner{
    to{
        
        transform: rotate(360deg);
        opacity: 1;
   
        
    }
    25%{
        transform: rotate(360deg);
    }
    55%{
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(360deg);
    }
    100%{
        transform: translate(-1000%);
        opacity: 1;
    }
}

// load 

@keyframes load{
    0%{
         
        opacity: 0;
       
    }
    25%{
        opacity: 0.35;
      
    }
    25%{
        opacity: 0.35;
      
    }
    35%{
        opacity: 0.35;
    }
    50%{
        
        opacity: 0.35;

    }
    85%{
     
        opacity: 0.35;
    }
    95%{
        opacity: 0.50;
    }
    100%{
        
        opacity: 1;
    }
}

  //body

  @keyframes body{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;

    }
  }

// section

  @keyframes section{
    0%{
        transform: translateX(-30px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;

    }
  }

  // para

  @keyframes icones{
      0%{
          transform: scale(0);
      }
      100%{
        transform: scale(1);
      }
  }