@import './variables';

@mixin titre {
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: capitalize;

}
@mixin trait  {
    width: 12%;
    margin-left: 5%;
    border: 1px solid $color-tertiary;
}
@mixin carpaccio{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 15px;
    width: 90%;
    margin: 5%;
    background:  rgba(255,255,255 ,1);
}
@mixin titre4{
    margin-top: 4%;
    margin-bottom: 3%;
    padding-left: 3%;
}
@mixin prix{
    display: flex;
    flex-direction: row;
    padding-left: 3%;
}
@mixin titre5($margin-right: 50%) {
    margin-right: $margin-right;
    margin-bottom: 3.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(158,158,158);
    
}

@mixin para($paddingleft: 20px) {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    padding-left: $paddingleft;
}
//button
@mixin order{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 8vh;
    margin: 2% 25% 10% 25%;
    background-color: rgb(186,85,211);
    border-radius: 30px;
    p{
        color: rgb(250,250,250);
    }
}
//header des menus

@mixin headermenu {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    background: $bg-colorwhite;
    
}

// menu accueil

@mixin headmenu {
    background-color: $bg-colorwhite;
    border-radius: 15px;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
      
}

@mixin headsection {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
}

@mixin headplat {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: $bg-colorwhite;
    border-bottom-left-radius: 15px;
    padding-left: 7%;
}

@mixin buttonmenu($bottom: 266%, $width: 82px, $left:26%, $height: 27px) {
    position: relative;
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height;
    background-color: $color-tertiary;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}

@mixin  buttonjaime($paddingleft: 89px) {
    position: relative;
    top: 20%;
    left: 140px;  
    
   /* &:hover{
        animation-name: coeur;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-delay: 300ms;
    }*/
    
}

/*@keyframes coeur{
    0%{
        background: yellow;
        top:0px;
        left: 0px;
    }
    25%{
        background: blue ;
        top: 0px;
        left: 80px;
    }
    75%{
        background: green;
        top: 80px;
        left: 80px;
    }
    100%{
        background: fuchsia ;
        top: 100px;
        left: 100px;
    }

}*/
