
// colors principale

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

//colors
$bg-colorbody: rgb(220,220,220);
$bg-colorgray: rgb(158,158,158);
$bg-colorwhite:  rgba(255,255,255 ,1);
$bg-colormain: rgb(238,238,238);
$bg-colorshadow:rgb(134, 167, 172);
$bg-colorfooter:  rgb(33,33,33);
$bg-colorbutton:  rgb(186,85,211);

//margin

$marginall: 0%;
$paddingall: 0%;