@import './variables';

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
   
}
body{
    background: $bg-colormain;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

//header

@import './header';

.header1{
    @extend %headermenu;
 }

@import './conteneur.scss';

main{
    @extend %main;
}

.photoplat{
    img{
        width: 100%;
    }
}
@import './mixins';

#entrée{
    background: $bg-colormain;
    padding-bottom: 10%;
    h3{
        @include titre;
    }
    hr{
        @include trait;
    }
    .entrée1{
        @include carpaccio;
        h4{
            @include titre4;
        }
        .prix{
            @include prix;
            h5{
                @include titre5($margin-right: 32%);
            }
            p{
                @include para($paddingleft: 50px);
                
            }
        }

    }
}

.entrée2{
    @include carpaccio;
    h4{
        @include titre4;
    }
    .prix{
        @include prix;
        h5{
            @include titre5($margin-right: 0%);
        }
        p{
            @include para($paddingleft: 63px);
        }
    }

}
.entrée3{
    @include carpaccio;
    h4{
        @include titre4;
    }
    .prix{
        @include prix;
        h5{
            @include titre5($margin-right: 70%);
        }
        p{
            @include para($paddingleft: 0px);
        }
    }

}
#plat{ 
    background: $bg-colormain;
    padding-bottom: 10%;
    h3{
        @include titre;
    }
    hr{
        @include trait;
    }
    .plat1{
        
        @include carpaccio;
        h4{
            @include titre4;
        }
        .prix{
            @include prix;
            h5{
                @include titre5($margin-right: 30%);
            }
            p{
                @include para($paddingleft: 55px);
            }
        }   
    }
    .plat2{
        @include carpaccio;
        h4{
            @include titre4;
        }
        .prix{
            @include prix;
            h5{
                @include titre5($margin-right: 15%);
            }
            p{
                @include para($paddingleft: 95px);
            }
        }   
    }
    .plat3{
        @include carpaccio;
        h4{
            @include titre4;
        }
        .prix{
            @include prix;
            h5{
                @include titre5($margin-right: 43%);
            }
            p{
                @include para($paddingleft: 0px);
            }
        }   
    }
}    
#dessert{ 
    background: $bg-colormain;
    padding-bottom: 10%;
    h3{
        @include titre;
    }
    hr{
        @include trait;
    }
    .dessert1{
        
        @include carpaccio;
        h4{
            @include titre4;
        }
        .prix{
            @include prix;
            h5{
                @include titre5($margin-right: 41%);
            }
            p{
                @include para($paddingleft: 30px);
            }
        }   
    }
    .dessert2{
        @include carpaccio;
        h4{
            @include titre4;
        }
        .prix{
            @include prix;
            h5{
                @include titre5($margin-right: 58%);
            }
            p{
                @include para($paddingleft: 40px);
            }
        }   
    }
    .dessert3{
        @include carpaccio;
        h4{
            @include titre4;
        }
        .prix{
            @include prix;
            h5{
                @include titre5($margin-right: 32%);
            }
            p{
                @include para($paddingleft: 0px);
            }
        }   
    }
} 
.order{
    @include order;
}   

// footer
@import './footer';
footer
{
 @extend %footer;
}