@import './variables';

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
   
}
body{
    background: $bg-colormain;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

//header

@import './header';

.header1{
    @extend %headermenu;
 }

@import './conteneur.scss';

main{
    @extend %mainlegourmand;
}

.photoplat{
    img{
        width: 100%;
    }
}
@import './mixins';

#entrée{
    background: $bg-colormain;
    padding-bottom: 10%;
   
    h3{
        @include titre;
    }
    hr{
        @include trait;
    }
    .entrée1{
        
        @include titreplat;

        article{
            @include carpaccio;
            
        }
    h4{
        @include titre4;
    }
    .prix{
        @include prix;
       
        p{
                    
            @include param;
           
        }
        span{
            @include span;
        } 
        .checkbox{
            @include checkbox;
            i{
                @include faicon;  

            }       
                    
        }        
    }
       
    }
}

.entrée2{
    @include titreplat; 
    
    article{
        @include carpaccio;
        
    }
    h4{
        @include titre4;
    }
    .prix{
        @include prix;
        p{
                    
            @include param;
           
        }
        span{
            @include span;
        }  
        .checkbox{
            @include checkbox;
            i{
                @include faicon;  

            }       
                    
        }       
    }

}
.entrée3{
    
    @include titreplat;
    article{
        @include carpaccio;
        
    }
    h4{
        @include titre4;
    }
    .prix{
        @include prix;
       
       
        p{
                    
            @include param;
           
        }
        span{
            @include span;
        }  
        .checkbox{
            @include checkbox;
            i{
                @include faicon;  

            }       
                    
        }       
    }

}
#plat{ 
    background: $bg-colormain;
    padding-bottom: 10%;
    h3{
        @include titre;
    }
    hr{
        @include trait;
    }
    .plat1{
        @include titreplat($hauteur:96px);

        article{
            @include carpaccio;
            
        }
    h4{
        @include titre4;
    }
    .prix{
        @include prix;
       
        p{
                    
            @include param;
           
        }
        span{
            @include span;
        } 
        .checkbox{
            @include checkbox($heighter: 84%, $topop: 14%);
            i{
                @include faicon;  

            }       
                    
        }        
    }
       
    }
    .plat2{
        @include titreplat;

        article{
            @include carpaccio;
            
        }
    h4{
        @include titre4;
    }
    .prix{
        @include prix;
       
        p{
                    
            @include param;
           
        }
        span{
            @include span;
        } 
        .checkbox{
            @include checkbox;
            i{
                @include faicon;  

            }       
                    
        }        
    }
       
    }
    .plat3{
        @include titreplat;

        article{
            @include carpaccio;
            
        }
    h4{
        @include titre4;
    }
    .prix{
        @include prix;
       
        p{
                    
            @include param;
           
        }
        span{
            @include span;
        } 
        .checkbox{
            @include checkbox;
            i{
                @include faicon;  

            }       
                    
        }        
    }
       
    }
}    
#dessert{ 
    background: $bg-colormain;
    padding-bottom: 10%;
    h3{
        @include titre;
    }
    hr{
        @include trait;
    }
    .dessert1{
        
        @include titreplat;

        article{
            @include carpaccio;
            
        }
    h4{
        @include titre4;
    }
    .prix{
        @include prix;
       
        p{
                    
            @include param;
           
        }
        span{
            @include span;
        } 
        .checkbox{
            @include checkbox;
            i{
                @include faicon;  

            }       
                    
        }        
    }
       
    }
    .dessert2{
        @include titreplat;

        article{
            @include carpaccio;
            
        }
    h4{
        @include titre4;
    }
    .prix{
        @include prix;
       
        p{
                    
            @include param;
           
        }
        span{
            @include span;
        } 
        .checkbox{
            @include checkbox;
            i{
                @include faicon;  

            }       
                    
        }        
    }
       
    }
    .dessert3{
        @include titreplat;

        article{
            @include carpaccio;
            
        }
    h4{
        @include titre4;
    }
    .prix{
        @include prix;
       
        p{
                    
            @include param;
           
        }
        span{
            @include span;
        } 
        .checkbox{
            @include checkbox;
            i{
                @include faicon;  

            }       
                    
        }        
    }
       
    }
} 
.order{
    @include order;
}   

// footer
@import './footer';
footer
{
 @extend %footer;
}