
$color-primary: rgb(250,250,250);
$color-secondary: #FF79DA;
$color-tertiary: rgb(0,172,193);
$cd-btn: #9356DC;
$cd-txt: #15DEA5;
body {
    margin: 0%;
    padding: 0%;
     background: rgb(220,220,220); 
     box-sizing: border-box;
     width: 100vw;
     height: 100vh;
   }
   
   img {
     width: 100%; }
   
   /*header*/
   header{
     width: 100vw;
     background:rgb(255,255,255);
     h1 {
        width: 100vw;
        font-family: 'Shrikhand', cursive;
        
        text-align: center;
        margin:0%;

      } 
   }
   .section1{
       text-align: center;

       .localisation{
           background: rgb(158,158,158);
           text-align: center;
           margin-bottom: 0%;
           i{
               margin-right: 2%;
           }
        }
        .book{
            background: rgb(238,238,238);
            h2{
                margin-top: 0%;
                font-family: 'Roboto', sans-serif;

     }
             p{
                font-family: 'Roboto', sans-serif;
              
             }
       
            button{
                background: $color-secondary;
                margin-bottom: 10%;
                border: 2px solid $color-secondary;
                border-radius: 20%;
                color: $color-primary;
                font-size: 1rem;
            } 
        }
   }

   // section 2
   .section2{
       background-color: rgb(255,255,255);
       
        h2{
            font-family: 'Roboto', sans-serif;
        }
        .work {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: rgb(255,255,255);
            .un{
                background: rgb(220,220,220);
                height: 76px;
                border-radius: 20px;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5%;
                
            }
            .deux{
                @extend .un;

                
            }
            .trois{
                @extend .un;
                
                
            }
        }
       
          
          
    
   }
  // main
   main{
      background-color: rgb(220,220,220);
      

      
      
    }
  // section3 
  .section3{
      h2{
          margin-top: 15%;
          padding-left: 5%;
          font-family: 'Roboto', sans-serif;
          
         

      }
  }
// menu 1

.menu1{
    background-color: rgb(255,255,255);
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    
    border-radius: 25px;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    
    width: 90%;
    
   
  
      figure {
          grid-column: 1 / span 4;
          grid-row: 1 / span 3;
          margin: 0%;
          padding: 0%;

            img{
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
            }
       
        }
      
        h3 {
            background: rgb(255,255,255);
            grid-row: 4;
            grid-column: 1 / span 3;
            /*align-self: flex-start;
            margin-top: 2%;
            margin-bottom: 0%;
            padding-left: 5%;
            padding-bottom: 0%;
            padding-top: 5%;*/
            border-bottom-left-radius: 25px;
            width: 80%;
            font-family: 'Roboto', sans-serif;
        }
        h4 {
            background: rgb(255,255,255);
            grid-row:  5  ;
            grid-column: 1 / span 3;
            /*margin-top: 0%;
            margin-bottom: 0%;
            padding-left: 5%;
            padding-bottom: 5%;*/
            border-bottom-left-radius: 25px;
            width: 80%;    
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            text-transform: capitalize;
            
        }
     .new{
         background: #99E2D0;
         grid-row: 1;
         grid-column: 4 ;
         text-align: center;
         place-self: center;
         border: none;
         font-family: 'Roboto', sans-serif;
         
       
        }
     .coeur{
         background: $color-primary;
         grid-row: 5 / span 6;
         grid-column: 4 /  5;
         width: 40%;
         justify-self: center;
         border: none;
         
         
     }
     
  
    

}

.menu2{
    @extend .menu1;
}
.menu3{
    @extend .menu1;
    .new {
        display: none;
    }
}
.menu4{
    @extend .menu1;
    .new {
        display: none;
    }
   
    
}

//footer
footer{
    background-color: rgb(33,33,33);
    color: rgb(255,255,255);
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 5%;
    display: grid;
    grid-template-rows: repeat(2, 20%);
    width: 100%;
    font-family: 'Roboto', sans-serif;


   
     h2 {
        font-family: 'Shrikhand', cursive;
        margin-top: 7%;
        margin-bottom: 4%;
     }
    article {
        
    }
}