// mixins

@mixin titre {
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: capitalize;

}
@mixin trait  {
    width: 12%;
    margin-left: 5%;
    border: 1px solid $color-tertiary;
    @include breakpoint(667px){
        width: 7%;
        margin-left: 5%;
        border: 1px solid $color-tertiary;
    }
    @include breakpoint(768px){
        width: 6%;
        margin-left: 5%;
        border: 1px solid $color-tertiary;
    }
}

     
     // checkbox mixins
 

    /// titre plat entrée dessert
    
    @mixin titreplat {
        position: relative;
        overflow: hidden;
        height: 100%;
        margin: 5% 5% 0% 5%;
        border-radius: 17px;
        background:  rgba(255,255,255 ,1);
        @include breakpoint(768px){
            height: 95px;
            
          }

        @include breakpoint(992px){
          height: 70px;
          width: 93%;
        }
        @include breakpoint(1200px){
            height: 76px;
            width: 90%;
          }
        &:hover .checkbox, &:active .checkbox{
           
            transform: translateX(0);
            opacity: 1;
        
        i{
            animation-name: rotate ;
            animation-duration: 0.5s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
        }  
    }
    &:hover > .prix, &:active > .prix {
       p{
           @include hoverp;
       }
       
        }

    }
//
@mixin titre4{
    margin-top: 4%;
    margin-bottom: 3%;
    padding-left: 3%;
}
//
@mixin prix{
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
    transition-property: width;
    transition-delay: 250ms; 
   
}
//
    @mixin hoverp {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 68%;
    padding-left: 0%;
    cursor: pointer;
    transition-property: width;
    transition-delay: 400ms;
    transition-duration: 300ms;
    transition-timing-function: linear;
    }

  //
    @mixin param {
        margin-bottom: 3.5%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: rgb(158,158,158);
        width: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
        @include breakpoint(768px){
            margin-bottom: 1.5%;
        }

      
    }

//
@mixin span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px; 
    
        
}
@mixin checkbox {
    position: absolute;
    top: 0;
    right: 0;
    background: $color-tertiary;
    width: 14%;
    height: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100px);
    opacity: 0; 
    transition: all 0.7s linear;   
}
//
@mixin faicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    color: $bg-colorwhite;
    
}


//header des menus

@mixin headermenu {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    background: $bg-colorwhite;
    
}

// menu accueil

@mixin headmenu {
    background-color: $bg-colorwhite;
    border-radius: 15px;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
      
}
//
@mixin headsection {
    display: grid;
    grid-template-columns: 50% 50%;
}
//
@mixin headplat {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: $bg-colorwhite;
    border-bottom-left-radius: 15px;
    padding-left: 7%;
}
//le coeurs
@mixin icones{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .fas{
        display: none;
        color: $color-secondary ;
    }
    &:hover, &:active{
        .far{
            display: none;
        }
        .fas{
            display: block;
            opacity: 0.1;
        }  

    }

    
    
}    
//
@mixin buttonmenu {
    position: absolute;
    top: 10%;
    right: 7%;
    width: 20%;
    background-color: $color-tertiary;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    
}
//
@mixin  buttonjaime{
    position: relative;
    left: 32px; 
   

  
}
//medias query

@mixin breakpoint($medias) {
    @media screen and (min-width: $medias){
        @content;
    }
        
}

