@import '../utils/variables';
@import '../utils/mixins';
@import '../layout/header';



.loader{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: $bg-colorwhite;
    opacity: 1;
    animation-name: load;
    animation-duration: 6s;
    animation-delay: 20ms;
    animation-timing-function: linear;
    animation-fill-mode: backwards;  
}
.spinner{
    position: absolute;
    top: 65%; left: 50%; right: 0; bottom: 0;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-bottom:16px solid $color-primary;
    border-left:16px solid $color-tertiary; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 90px;
    padding-left: 5px;
    font-size: 16px;
    opacity: 1;
    animation-name: spinner ;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(1, 0.44, 0.34,-0.23);
    animation-fill-mode: forwards;   
}

*{
    box-sizing: border-box;
    margin: $marginall;
    padding: $paddingall;
}


   

body {
    @extend %bodyaccueil;
   
}
   //images
   img {
     width: 100%; 
    }


    //header
   
   header{
    @extend %headeraccueil;
    transform: translateY(-30px);
    opacity: 0;
    animation-name: body;
    animation-delay: 40ms;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    @include breakpoint(992px){
        font-size: 2em;
    }
   }
@import '../layout/mainaccueil';
    // main
    #pagesoffone{
        @extend %mainaccueil;
    } 
    
   
// les sections
   #localbook{ 
   @extend %section1;

   
   }
       
      
 
       
      
     
    
   


   // section 2
   #choix{
    @extend %section2;
   }

 
  // section3 
  #lesmenus{
     
      padding-bottom: 35px;
      transform: translateY(-30px);
      opacity: 0;
      animation-name: body;
      animation-delay: 300ms;
      animation-duration: 5s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      @include breakpoint(992px){
        grid-row: 3/span 5;
        grid-column: 1 /span 6;
        display: grid;
        grid-template-columns: 50% 50%;
        padding-bottom: 0px;
        width: 100%;
        padding-top: 272px;
      }
     


      h2{
          margin-top: 15%;
          padding-left: 5%;
          padding-bottom: 6%;
          font-family: 'Roboto', sans-serif;
          font-weight: bolder;
          @include breakpoint(992px){
            position: relative;
            left: 25rem;
            top: -60rem;
            font-size: 2em;
          }
         }
    } 
    #lesmenus:first-child{
      transform: translateX(-30px);
      opacity: 0;
      animation-name: section;
      animation-delay: 3s;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }      
    #lesmenus:nth-child(-n+2){
      transform: translateX(-30px);
      opacity: 0;
      animation-name: section;
      animation-delay: 3500ms;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }      
    #lesmenus:nth-child(-n+3){
      transform: translateX(-30px);
      opacity: 0;
      animation-name: section;
      animation-delay: 4s;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }      
    #lesmenus:nth-child(-n+4){
      transform: translateX(-30px);
      opacity: 0;
      animation-name: section;
      animation-delay: 4.5s;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }      
 



// menu 
.menu1{
    @include headmenu;
    @include breakpoint(992px){
        grid-row: 1;
        grid-column: 1;
    }
    .images{
        @extend %images;
    }
    .food1{
        @include headsection;

        .plat{
            @include headplat;
            h3{
                @extend %h3;
            }
            h4{
                @extend %h4;
            }
        }

        .jaimenew{ 
            position: relative;
            margin-left: 1.4rem;
           
            @include breakpoint(320px){
                margin-left: 4.4rem;
            }
            @include breakpoint(375px){
                margin-left: 6.4rem;
            }
            @include breakpoint(425px){
                margin-left: 9rem;
            }
            @include breakpoint(599px){
                margin-left: 17rem;
            }
            @include breakpoint(768px){
                margin-left: 24.2rem;
            }
            @include breakpoint(992px){
                margin-left: 11rem;
            }

            
        
            .icones{
                @include icones;
                
                
                :hover,:active{
                    
                    animation-name: coeur;
                    animation-duration: 600ms;
                    animation-delay: 10ms;
                    animation-fill-mode: both;


                }
                
            }
            button{
                @include buttonmenu($bottom: 9.7rem, $width: 3rem, $left: 1.7rem, $height: 1.8rem);
                
                 @include breakpoint(320px){
                    width: 4rem;
                   bottom: 10.5rem;
                   left: -0.4rem;
                }  
                @include breakpoint(375px){
                    width: 4rem;
                    bottom: 11.8rem;
                    left: 0.3rem;
                }  
                @include breakpoint(425px){
                    width: 4rem;
                    bottom: 13rem;
                    left: -0.1rem;
                }  
                @include breakpoint(599px){
                    width: 6rem;
                    bottom: 16.5rem;
                    left: -1.5rem;
                }  
                @include breakpoint(768px){
                    width: 7rem;
                    bottom: 20.1rem;
                    left: -2.5rem;
                }  
                @include breakpoint(992px){
                    width: 6rem;
                   bottom: 16.5rem;
                   left: -0.5rem;
                }  
            } 
                   
               
                
           
            
            .fa-heart{
                @include buttonjaime;
                @include breakpoint(320px){
                    position: relative;
                    top: 1rem;
                    left: 0.9rem;

                }


            }
            
        }
    }
}

.menu2{
    @include headmenu;
    @include breakpoint(992px){
        grid-row: 1;
        grid-column: 2;

    }
    .images{
        @extend %images;
    }
    .food1{
        @include headsection;

        .plat{
            @include headplat;
            h3{
                @extend %h3;
            }
            h4{
                @extend %h4;
            }
        }

        .jaimenew{
            position: relative;
            margin-left: -1rem;
            @include breakpoint(320px){
                margin-left: 1.1rem;
            }
            @include breakpoint(375px){
                margin-left: 3.7rem;
            }
            @include breakpoint(425px){
                margin-left: 6rem;
            }
            @include breakpoint(599px){
                margin-left: 14rem;
            }
            @include breakpoint(768px){
                margin-left: 22rem;
            }
            @include breakpoint(992px){
                margin-left: 9rem;
            }
            .icones{
                @include icones;
                :hover,:active{
                    animation-name: coeur;
                    animation-duration: 600ms;
                    animation-delay: 10ms;
                    animation-fill-mode: both;

                }
                
            }
            button{
                @include buttonmenu($bottom: 9.7rem, $width: 3rem, $left: 1.7rem, $height: 1.8rem);
                @include breakpoint(320px){
                    width: 4rem;
                    bottom: 10.7rem;
                    left: 0.3rem;
                }
                @include breakpoint(375px){
                    width: 4rem;
                    bottom: 12.2rem;
                    left: 0.5rem;
                }   
                      
                @include breakpoint(425px){
                    width: 4rem;
                    bottom: 13.5rem;
                    left: 0.5rem;
                }       
                @include breakpoint(599px){
                    width: 6rem;
                    bottom: 18.2rem;
                    left: -0.3rem;
                }      
                @include breakpoint(768px){
                    width: 7rem;
                    bottom: 22.6rem;
                    left: -1rem;
                }  
                @include breakpoint(992px){
                    width: 6rem;
                    bottom: 17rem;
                    left: -0.5rem;
                }  
               
                
            }
            .fa-heart{
                @include buttonjaime;
            }
        }
    }
}

.menu3{
    @include headmenu;
    @include breakpoint(992px){
        grid-row: 2;
    }
    
    .images{
        @extend %images;
    }
    .food1{
        @include headsection;

        .plat{
            @include headplat;
            h3{
                @extend %h3;
            }
            h4{
                @extend %h4;
            }
        }

        .jaimenew{
            position: relative;
            margin-left: 5rem;
            @include breakpoint(320px){
                margin-left: 7rem;
            }
            @include breakpoint(375px){
                margin-left: 9.8rem;
            }
            @include breakpoint(425px){
                margin-left: 12.5rem;
            }
            @include breakpoint(599px){
                margin-left: 20.2rem;
            }
            @include breakpoint(768px){
                margin-left: 28rem;
            }
            @include breakpoint(992px){
                margin-left: 13.8rem;
        

            }

            .icones{
                @include icones;
                margin-top: -6px;
                :hover,:active{
                    animation-name: coeur;
                    animation-duration: 600ms;
                    animation-delay: 10ms;
                    animation-fill-mode: both;

                }
                
            }
            button{
                @include buttonmenu($bottom: 266%, $width: 100%, $left:26%, $height: 45%);
                opacity: 0;
            }
            .fa-heart{
                @include buttonjaime;
            }
        }
    }
}

.menu4{
    @include headmenu;
    @include breakpoint(992px){
        grid-row: 2;
        grid-column: 2;
    }
    
    .images{
        @extend %images;
    }
    .food1{
        @include headsection;

        .plat{
            @include headplat;
            h3{
                @extend %h3;
            }
            h4{
                @extend %h4;
            }
        }

        .jaimenew{
            position: relative;
            margin-left: 4rem;
            @include breakpoint(320px){
                margin-left: 4.8rem;
            }
            @include breakpoint(375px){
                margin-left: 7.6rem;
            }
            @include breakpoint(425px){
                margin-left: 10rem;
            }
            @include breakpoint(599px){
                margin-left: 18rem;
            }
            @include breakpoint(768px){
                margin-left: 26rem;
            }
            @include breakpoint(992px){
                margin-left: 11.4rem;

            }

            .icones{
                @include icones;
                margin-top: -6px;
                :hover,:active{
                    animation-name: coeur;
                    animation-duration: 600ms;
                    animation-delay: 10ms;
                    animation-fill-mode: both;

                }
                
            }
            button{
                @include buttonmenu($bottom: 266%, $width: 100%, $left:26%, $height: 45%);
                opacity: 0;
            }
            .fa-heart{
                @include buttonjaime;
            }
        }
    }
}
    
    

@import '../layout/footer';
//footer
footer{
    @extend %footer;
    transform: translateY(-30px);
    opacity: 0;
    animation-name: body;
    animation-delay: 4.5s;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;        
}

