@import '../utils/variables';
@import '../utils/mixins';
@import '../base/animations';

.loader{
    @extend %loader;
}
.spinner{
    @extend %spinner;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
   
}
body{
    background: $bg-colormain;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

//header

@import '../layout/hearderplat';
header{
    @extend %headertopmenu;
}

#header1{
    @extend %headermenu;
 }

 @import '../layout/mainmenu';

#pagesdemenus{
    @extend %maindesplats;
    h2{
        @extend %h2menus; 
    }
   
}

.photoplat{
    @include breakpoint(992px){
        grid-column: 2 / span 4;
    }
    img{
        width: 100%;
        @include breakpoint(992px){
            margin-top: 20px;
            margin-bottom: 120px;
            width: 80%;
            border-radius: 74px;
        }
    }
}

@import '../utils/mixins';

    #entrée{
        background: $bg-colormain;
        padding-bottom: 10%;
       
        transform: translateY(-1000%);
        opacity: 0;
        animation-name: sectionmenu;
        animation-delay: 2.5s;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        
        @include breakpoint(992px){
    
            margin-top: 15%;
         }
        
        h3{
            @include titre;
        }
        hr{
            @include trait;
        }
    .entrée1{
        @include titreplat;

        
            .checkbox{
                @include checkbox;
             

                i{
                    @include faicon;  

                }       
                        
            }        
            
        
        h4{
            @include titre4;
        }
        .prix{
            @include prix;
        
            p{
                        
                @include param;
            
            }
            span{
                @include span;
            } 
           
        }
       
    }   
           
            
               
              
               
}
    .entrée2{
        @extend .entrée1;
       }   

       .entrée3{
        @extend .entrée1;
       }   


#plat{ 
        background: $bg-colormain;
        padding-bottom: 10%;
        transform: translateY(-1000%);
        opacity: 0;
        animation-name: sectionmenu;
        animation-delay: 3.6s;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
      
    @include breakpoint(992px){
        grid-column: 2;
        margin-bottom: 0px;
        margin-top: 15%;
       
     }
    h3{
        @include titre;
    }
    hr{
        @include trait;
    }
    .plat1{
        @include titreplat;

        
            .checkbox{
                @include checkbox;
                i{
                    @include faicon;  

                }       
                        
            }        
            
        
        h4{
            @include titre4;
        }
        .prix{
            @include prix;
        
            p{
                        
                @include param;
            
            }
            span{
                @include span;
            } 
           
        }
           
    }   
    
   
    .plat2{
        @extend .plat1;
       }   
       .plat3{
        @extend .plat1;
       }
}      
#dessert{ 
    background: $bg-colormain;
    padding-bottom: 10%;
        transform: translateY(-1000%);
        opacity: 0;
        animation-name: sectionmenu;
        animation-delay: 4.4s;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    @include breakpoint(992px){
        grid-column: 3;
        margin-top: 15%;
     }
    h3{
        @include titre;
    }
    hr{
        @include trait;
    }
    .dessert1{
        @include titreplat;

        
        .checkbox{
            @include checkbox;
            i{
                @include faicon;  

            }       
                    
        }        
        
    
    h4{
        @include titre4;
    }
    .prix{
        @include prix;
    
        p{
                    
            @include param;
        
        }
        span{
            @include span;
        } 
       
    }
       
       
    }   
       .dessert2{
         @extend .dessert1;
       }   
       .dessert3{
        @extend .dessert1;
       }   
} 
.order{
    @include order;
}   

// footer
@import '../layout/footer';
footer
{
 @extend %footer;
 transform: translateY(-30px);
    opacity: 0;
    animation-name: body;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;      
}