@import '../utils/variables';
@import '../utils/mixins';

%headeraccueil{
    width: 100vw;
    background: $bg-colorwhite;
    h1 {
       width: 100vw;
       font-family: 'Shrikhand', cursive;
       text-align: center;
       margin:$marginall;

    } 
}



