@import '../utils/variables';


%maindesplats{
    background: $bg-colormain;
    @include breakpoint(992px){
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 40% 40% 20%;
        grid-auto-flow: column;

    }

}    


%h2menus{
    background: #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 45px 45px 0 0;
    bottom: 30px;
    padding-left: 5%;
    width: 100%;
    padding-top: 3%;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;

    
    
    @include breakpoint(992px){
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0%;
        margin-top: 30px;
        padding-top: 8.5%;
        padding-right: 0%;
        padding-left: 6%;
        font-family: 'Shrikhand', cursive;
        font-size: 1.7em;
        font-weight: normal;
        font-style: oblique;
        border-radius: 45px 45px 0px 0px;
        background-color: #f6f6f6;
        position: relative;
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        transform: scale(0);
        opacity: 0;
        animation-name: ofh2 ;
        animation-duration: 2.5s;
        animation-timing-function: ease-in;
        animation-delay: 400ms;
        animation-fill-mode: forwards;
       
    }
     
    i{
        width: 15%;
        margin-left: 9%;
        margin-right: 3%;
    }
          
        
    
    
}