@import '../utils/variables';


%mainaccueil{ 
background-color: $bg-colormain; 
@include breakpoint(992px){
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: repeat(6, 270px);
    overflow: hidden;
    
}
}